.footer {

    background-color: #fffefe;
    color: #555;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    font-size: 17px;
    background-color: black;
  }
  
  .footer p {
    margin: 5px;

    
  }
  .icon {
    padding: 4px 0px 0px 0px;
  }
  
  
  .footer a  {
        color: #555;
    font-size: 20px;
    text-decoration: none;
    margin: 5px ;
  
   
  }
  
  .footer a:hover .inst {
    color: #f44336;
    text-decoration: none;
  }
  .footer a:hover .git {
    color: #fff;
    text-decoration: none;
  }
  .footer a:hover .lin {
    color: #0050c8;
    text-decoration: none;
  }