* {
margin: 0;
padding: 0;
box-sizing: border-box;
}
body {
    font-family: 'Lato', sans-serif;
}
@import "./player";
@import "./song";
@import "./library";
@import "./nav";
@import "./footer";

.App {
transition: all 0.5s ease;
}
.app-active {
margin-left: 30%;
}

h1 ,h2,h3 {
color: rgb(54,54,54);

}

